# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
dist/
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

*env/
RELEASE/Jagger DressUp.exe
RELEASE/config/cloth.json
RELEASE/config/easter_egg.json
RELEASE/config/maps/JDU.tiled-project
RELEASE/config/maps/JDU.tiled-session
RELEASE/config/maps/tilesets/DoneImages.tsx
RELEASE/config/maps/tilesets/DressingImages.tsx
RELEASE/config/maps/tilesets/TitleImages.tsx
RELEASE/config/maps/tmxmaps/DoneMap.tmx
RELEASE/config/maps/tmxmaps/DressingMap.tmx
RELEASE/config/maps/tmxmaps/TitleMap.tmx
RELEASE/maps/DoneView.json
RELEASE/maps/DressingView.json
RELEASE/maps/TitleView.json
RELEASE/resources/icon.ico
RELEASE/resources/clothes/1-black.png
RELEASE/resources/clothes/1-gray.png
RELEASE/resources/clothes/1-pink.png
RELEASE/resources/clothes/1-white.png
RELEASE/resources/clothes/2-black.png
RELEASE/resources/clothes/2-gray.png
RELEASE/resources/clothes/2-pink.png
RELEASE/resources/clothes/2-white.png
RELEASE/resources/clothes/3-black.png
RELEASE/resources/clothes/3-gray.png
RELEASE/resources/clothes/3-pink.png
RELEASE/resources/clothes/3-white.png
RELEASE/resources/clothes/A.png
RELEASE/resources/clothes/afeitao.png
RELEASE/resources/clothes/ahegao-pants.png
RELEASE/resources/clothes/ahegao-shirt.png
RELEASE/resources/clothes/alien.png
RELEASE/resources/clothes/andi.png
RELEASE/resources/clothes/auris.png
RELEASE/resources/clothes/band.png
RELEASE/resources/clothes/barba-.png
RELEASE/resources/clothes/bebe-nuclear.png
RELEASE/resources/clothes/blood.png
RELEASE/resources/clothes/blush.png
RELEASE/resources/clothes/boca1.png
RELEASE/resources/clothes/boca2.png
RELEASE/resources/clothes/boca3.png
RELEASE/resources/clothes/bolsa.png
RELEASE/resources/clothes/botitas.png
RELEASE/resources/clothes/boxeo-0.png
RELEASE/resources/clothes/boxeo-1.png
RELEASE/resources/clothes/britney-1.png
RELEASE/resources/clothes/britney-2.png
RELEASE/resources/clothes/broccli.png
RELEASE/resources/clothes/bufandita.png
RELEASE/resources/clothes/bugs.png
RELEASE/resources/clothes/cadenita.png
RELEASE/resources/clothes/camisa-b.png
RELEASE/resources/clothes/camisa-p.png
RELEASE/resources/clothes/camisa-w.png
RELEASE/resources/clothes/camo.png
RELEASE/resources/clothes/cardigan.png
RELEASE/resources/clothes/cargo-b.png
RELEASE/resources/clothes/cargo.png
RELEASE/resources/clothes/cejas1.png
RELEASE/resources/clothes/cejas2.png
RELEASE/resources/clothes/cejas3.png
RELEASE/resources/clothes/chaleco.png
RELEASE/resources/clothes/chaqueta.png
RELEASE/resources/clothes/cinto.png
RELEASE/resources/clothes/clown.png
RELEASE/resources/clothes/cocinero.png
RELEASE/resources/clothes/coletita.png
RELEASE/resources/clothes/coletitas.png
RELEASE/resources/clothes/conejito.png
RELEASE/resources/clothes/cono.png
RELEASE/resources/clothes/corto.png
RELEASE/resources/clothes/creeper.png
RELEASE/resources/clothes/crop-1.png
RELEASE/resources/clothes/crop-2.png
RELEASE/resources/clothes/danger.png
RELEASE/resources/clothes/dora_shirt.png
RELEASE/resources/clothes/doraemon.png
RELEASE/resources/clothes/edgy.png
RELEASE/resources/clothes/eggs.png
RELEASE/resources/clothes/esland.png
RELEASE/resources/clothes/finzo-0.png
RELEASE/resources/clothes/finzo-2.png
RELEASE/resources/clothes/finzo.png
RELEASE/resources/clothes/fishnets-purp.png
RELEASE/resources/clothes/fishnets-red.png
RELEASE/resources/clothes/fishnets.png
RELEASE/resources/clothes/flops-b.png
RELEASE/resources/clothes/flops-p.png
RELEASE/resources/clothes/flops-w.png
RELEASE/resources/clothes/flor.png
RELEASE/resources/clothes/funzo.png
RELEASE/resources/clothes/gag.png
RELEASE/resources/clothes/galaxy.png
RELEASE/resources/clothes/gatito.png
RELEASE/resources/clothes/gertrudis.png
RELEASE/resources/clothes/glasses.png
RELEASE/resources/clothes/gold.png
RELEASE/resources/clothes/gorrita.png
RELEASE/resources/clothes/guantes-2.png
RELEASE/resources/clothes/guantes.png
RELEASE/resources/clothes/heart.png
RELEASE/resources/clothes/it.png
RELEASE/resources/clothes/jardinero.png
RELEASE/resources/clothes/jeans-b.png
RELEASE/resources/clothes/jeans.png
RELEASE/resources/clothes/jogging-g.png
RELEASE/resources/clothes/jogging-n.png
RELEASE/resources/clothes/karmaggan.png
RELEASE/resources/clothes/latex2.png
RELEASE/resources/clothes/latexp.png
RELEASE/resources/clothes/lennons.png
RELEASE/resources/clothes/maid-b.png
RELEASE/resources/clothes/maid-p.png
RELEASE/resources/clothes/makeup.png
RELEASE/resources/clothes/manbun.png
RELEASE/resources/clothes/maze.png
RELEASE/resources/clothes/medieval.png
RELEASE/resources/clothes/mocasines.png
RELEASE/resources/clothes/monito.png
RELEASE/resources/clothes/musculosa-b.png
RELEASE/resources/clothes/musculosa-n.png
RELEASE/resources/clothes/musculosa-n(2).png
RELEASE/resources/clothes/navidad.png
RELEASE/resources/clothes/neon.png
RELEASE/resources/clothes/nesquirt.png
RELEASE/resources/clothes/nosebleed.png
RELEASE/resources/clothes/ojos-1.png
RELEASE/resources/clothes/ojos-2.png
RELEASE/resources/clothes/ojos-3.png
RELEASE/resources/clothes/pantuflas.png
RELEASE/resources/clothes/peli.png
RELEASE/resources/clothes/perilla.png
RELEASE/resources/clothes/perlas.png
RELEASE/resources/clothes/princesa.png
RELEASE/resources/clothes/pulseras.png
RELEASE/resources/clothes/rapado.png
RELEASE/resources/clothes/rubia.png
RELEASE/resources/clothes/rulos.png
RELEASE/resources/clothes/sekiro.png
RELEASE/resources/clothes/shades.png
RELEASE/resources/clothes/shibari-b.png
RELEASE/resources/clothes/shibari-r.png
RELEASE/resources/clothes/shibari.png
RELEASE/resources/clothes/short-b.png
RELEASE/resources/clothes/short-g.png
RELEASE/resources/clothes/short-s.png
RELEASE/resources/clothes/short-w.png
RELEASE/resources/clothes/shrimp.png
RELEASE/resources/clothes/skirt-1.png
RELEASE/resources/clothes/skirt-2.png
RELEASE/resources/clothes/skirt-3.png
RELEASE/resources/clothes/sneakers.png
RELEASE/resources/clothes/sprout.png
RELEASE/resources/clothes/suelto.png
RELEASE/resources/clothes/tiritas-1.png
RELEASE/resources/clothes/tiritas-2.png
RELEASE/resources/clothes/trencita.png
RELEASE/resources/clothes/tshirt-b.png
RELEASE/resources/clothes/tshirt-w.png
RELEASE/resources/clothes/turtle-b.png
RELEASE/resources/clothes/turtle-g.png
RELEASE/resources/clothes/usera.png
RELEASE/resources/clothes/vanpiro.png
RELEASE/resources/clothes/vendas.png
RELEASE/resources/clothes/vestido.png
RELEASE/resources/clothes/window-b.png
RELEASE/resources/clothes/window-p.png
RELEASE/resources/clothes/window-w.png
RELEASE/resources/clothes/zig-zag.png
RELEASE/resources/fonts/Liminality-Regular.ttf
RELEASE/resources/interface/Intro.png
RELEASE/resources/interface/common/base.png
RELEASE/resources/interface/common/cuadro.png
RELEASE/resources/interface/common/cursor.png
RELEASE/resources/interface/common/frame.png
RELEASE/resources/interface/common/off.png
RELEASE/resources/interface/common/on.png
RELEASE/resources/interface/common/sombrita.png
RELEASE/resources/interface/done/explosion.png
RELEASE/resources/interface/done/restart.png
RELEASE/resources/interface/done/ropa done.png
RELEASE/resources/interface/done/tuto.png
RELEASE/resources/interface/done_eggs/confetti.gif
RELEASE/resources/interface/done_eggs/felicidades.png
RELEASE/resources/interface/dressing/accesories.png
RELEASE/resources/interface/dressing/bottoms.png
RELEASE/resources/interface/dressing/cuadros.png
RELEASE/resources/interface/dressing/done.png
RELEASE/resources/interface/dressing/easter accesorios.png
RELEASE/resources/interface/dressing/easter tops.png
RELEASE/resources/interface/dressing/easter unlocked.png
RELEASE/resources/interface/dressing/easters.png
RELEASE/resources/interface/dressing/face.png
RELEASE/resources/interface/dressing/flecha-1.png
RELEASE/resources/interface/dressing/flecha-2.png
RELEASE/resources/interface/dressing/frame.png
RELEASE/resources/interface/dressing/icono listita.png
RELEASE/resources/interface/dressing/logo.png
RELEASE/resources/interface/dressing/random.png
RELEASE/resources/interface/dressing/reset.png
RELEASE/resources/interface/dressing/ropa.png
RELEASE/resources/interface/dressing/shoes.png
RELEASE/resources/interface/dressing/tops.png
RELEASE/resources/interface/title/start.png
RELEASE/resources/interface/title/title deco.png
RELEASE/resources/interface/title/title logo.png
RELEASE/resources/sound/aplausos.mp3
RELEASE/resources/sound/bg_music.wav
RELEASE/resources/sound/click.wav
RELEASE/resources/sound/done.wav
RELEASE/resources/sound/grab.wav
RELEASE/resources/sound/lista.wav
RELEASE/resources/sound/reset.wav
/RELEASE/config/maps/tilesets/AnimationIntro.tsx
/RELEASE/resources/interface/title/Vh2_0000_Capa-2.png
/RELEASE/resources/interface/title/Vh2_0001_Capa-1.png
/RELEASE/resources/interface/title/heart.png
/RELEASE/resources/interface/title/intro.jpg
